.jumbotron{
  margin-bottom: 0;

  .homepage-bottom-cta {
    display: flex;
    justify-content: space-between;
    background: rgb(11, 69, 127);
    padding: 5rem 4rem;
    color: white;
  
    .display-3 {
      font-weight: bold;
      font-style: italic;
      font-size: 3.5rem;
  
      @media (max-width: 767px) {
        font-size: 2.5rem;
      }
    }
  
    .lead {
      padding: 0.5rem 2rem;
      font-size: 2.5rem;
      border-radius: 10px;
      background: white;
      color: rgb(0, 100, 179);
  
      @media (max-width: 767px) {
        font-size: 1.5rem;
      }
    }
  
  }
}