.ftr {
  padding: 3rem;
  margin-top: auto;
  

  @media (max-width: 767px) {
    padding: 1.5rem;
  }

  .navbar-nav {

    @media (max-width: 767px) {
      padding: 0 0;
    }

    .footerLink {
      color: rgba(0,0,0,.7);
      margin-left: 1rem;
      font-size: 1.8rem;

      @media (max-width: 767px) {
        font-size: 1rem;
      }
    }
    .footerLink:last-child {
      margin-right: 2rem;
    }
  }
}