.dashboard-page {
    margin: 60px 30px;

    .title {
        font-size: 2.7rem;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        // font-family: -apple-system, BlinkMacSystemFont;
        margin-bottom: 60px;
    }

    .dashboard {
        // background-color:
        border-top: 2px solid #F6F0FD
    }

    .mapped-workouts {
        border-bottom: 2px solid #F6F0FD;
        display: flex;
        padding: 50px 30px;
        justify-content: space-between;

        .workouts {
            font-size: 2.7rem;
            font-weight: 500;
            font-family: 'Roboto', sans-serif;
        }
    }

    .btn-container {
        text-align: center;
        
        .new-workout-btn {
            margin: 40px auto;
            border: none;
            border-radius: 5px;
            font-size: 2.7rem;
            font-weight: 500;
            font-family: 'Roboto', sans-serif;
            padding: 15px 70px;
            background-color: #1F7EBF;
            color: white;
        }
    }

}