div{
    background-color: blue;
    text-align: center;
    margin: 0 auto 0 auto;
    background: linear-gradient(blue,purple);
    border-radius: 10px 50px 10px 10px;
}

.Fields{
    width: 20px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding-bottom: 20px;
    color: azure
}

img{
    background-image: url(https://i.ibb.co/LYMJt95/alora-griffiths-PLm-A2-IY8z3-U-unsplash-1.jpg); 
    width: 1000px;
    height: 1000px;
    background-size: inherit;
    background-repeat: repeat;
    background-attachment: cover;
    border-radius: 10px 50px 10px 10px;
    box-shadow: 2px 10px 20px #FCFAFE;
  }

  h1{
      color: whitesmoke;
      text-shadow: rgb(192, 233, 11) 5px 0 10px;
      text-emphasis: bold;
      font-size: 48px;
      font-weight: bold;
  }

  .inputs{
    border-radius:5px;
    border-color: gold;
  }

  .inputs:hover {
    background: #50248F;
  }

  .Fields-login{
    width: 20px;
    display: flex;
    justify-content: center;
    border-radius:5px;
    font-size: 15px;
    padding-bottom: 20px;
    color: azure;
  }

  .buttons{
      width: 100px;
      height: 30px;
      color:#1F7EBF;
      border-radius:5px;
      border-color: gold;
      border: 2px solid;
      background: #E5EC0F;
      font-weight: bold;
      font-size: 20px;
      box-shadow: 0px 3px 8px #DFDF1C;
      transition: background linear 0.3s;

  }
  
  .buttons:hover {
      background: #EC0FDD;
  }
